template {
  margin: 0;
  padding: 0;
  border: 0;
}
.demo-basic {
  text-align: center;
}
.demo-basic .sub-title {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--el-text-color-secondary);
}
.demo-basic .demo-basic--circle,
.demo-basic .demo-basic--square {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.demo-basic .block:not(:last-child) {
  border-right: 1px solid var(--el-border-color);
}
.demo-basic .block {
  flex: 1;
}
.demo-basic .el-col:not(:last-child) {
  border-right: 1px solid var(--el-border-color);
}
.el-button.el-button--primary {
  width: 260px;
  height: 40px;
}
.FindPassword {
  margin-top: -20px;
}

@background-color-dark: gray;
@font-color-dark: white;
@background-image: url("./public/2.png");

.darkMode {
  --background-color: @background-color-dark;
  --font-color: @font-color-dark;
  --background-imgage: @background-image;
}

.el-form-item__label {
  color: var(--font-color, #000);
}

.blurbackground {
  border-radius: 10%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
}
.changeButton {
  position: absolute;
  bottom: 40px;
  height: 100%;
  width: 100%;
}
.materialPic {
  width: 80px;
  height: 50px;
  background-color: transparent;
}
.autoPlay {
  color: var(--font-color, #000);
}

.background {
  .container {
    color: var(--font-color, #000);
    // background-color: var(--background-color, #fff);
    position: relative;
    background-color: transparent;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    .themeChange {
      bottom: 20px;
    }

    .name {
      position: relative;
      bottom: 0px;
      width: 500px;

      p {
        position: relative;
        font-size: 30px;
        color: #a79b9b;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }

      p::after {
        content: "哈大饼前端控制台";
        position: absolute;
        top: 0;
        left: 0;
        color: teal;
        animation: animate 4s linear infinite;
        background-image: linear-gradient(8deg, #00d0ff, pink, #00d0ff, pink);
        background-clip: text;
        /* 标准属性 */
        -webkit-background-clip: text;
        /* 兼容性属性 */
        color: transparent;
        /* 透明色，文字颜色为透明色，即看不到文字 */
      }

      @keyframes animate {
        0%,
        100% {
          clip-path: ellipse(100px 100px at 0% center);
        }

        50% {
          clip-path: ellipse(100px 100px at 100% center);
        }
      }
    }

    .changeImgNext {
      cursor: pointer;
      width: 25px;
      border-radius: 80%;
      text-align: center;
      font-size: 20px;
      position: absolute;
      bottom: 70px;
      left: 140px;
      color: #000;
      background-color: #fff;
      // color: red;
    }

    .changeImgNext:hover {
      background-color: pink;
    }

    .changeImgPre {
      cursor: pointer;
      width: 25px;
      border-radius: 80%;
      text-align: center;
      font-size: 20px;
      position: absolute;
      bottom: 70px;
      color: var(--font-color, #000);
      background-color: #fff;
    }

    .changeImgPre:hover {
      background-color: pink;
    }

    .service {
      display: flex;
      position: absolute;
      top: 13px;
      width: 500px;
      right: 0;
      flex-direction: row;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: var(--font-color, #000);

        // color: pink;
      }

      div {
        margin-top: 10px;
      }
    }

    .containerRight {
      .navHeader {
        display: flex;
        background-color: transparent;
        border-radius: inherit;
        width: 100%;
        font-size: 30px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        height: 80px;

        .loginTitleHover {
          border-radius: 30%;
          border-bottom: 4px solid red;
          transition: 0.5s;
        }

        .logintitle1,
        .logintitle2 {
          cursor: pointer;
          padding: 10px 0 0;
          --font-color: @font-color-dark;
          font-size: 24px;
          line-height: 32px;
          text-align: center;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          unicode-bidi: isolate;
          text-align: center;
          line-height: 1.2;
        }

        .logintitle1:hover,
        .logintitle2:hover {
          border-radius: 30%;
          border-bottom: 3px solid red;
          transition: 0.5s;
        }
      }

      .routerMain {
        height: 273px;
        width: 100%;

        .other {
          display: flex;
          width: 100%;
          margin-top: -8px;
          margin-bottom: 17px;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: nowrap;
          align-content: center;
          align-items: center;
        }
      }
    }
  }
}

.loginContainer {
  display: flex;
  width: 100%;
  height: 277px;
  color: var(--font-color, #000);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  .form2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .username {
    display: flex;
    width: 350px;
    height: 60px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .password {
    display: flex;
    width: 350px;
    height: 60px;
    // color: var(--font-color, red);
    // background-image: url('./public/2.png');
    // background-color: var(--background-color, #fff);
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .search_form {
    width: 245px;
  }

  .search_icon {
    height: 32px;
  }

  .loginicon {
    width: 25px;
    height: 25px;
  }

  .identifyPassword {
    width: 350px;
    height: 60px;
    background-color: transparent;

    .el-form-item.is-required.asterisk-left {
      width: 350px;

      .el-form-item__content {
        width: 350px;
      }
    }
  }

  .phoneNumber {
    width: 350px;
    height: 60px;
    background-color: transparent;
  }

  .verify {
    width: 350px;
    height: 60px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

    .yourCaptcha {
      width: 191px;
      background-color: transparent;
      margin-right: 21px;
    }

    .getCaptcha {
      width: 92px;
      background-color: transparent;
    }
  }

  .loginByPhone {
    font-size: 12px;
    cursor: pointer;
  }

  .loginByPhone:hover {
    color: #66ccff;
  }

  .forgetPassword {
    font-size: 12px;
    cursor: pointer;
  }

  .forgetPassword:hover {
    color: #66ccff;
  }

  .registerButton {
    margin-left: 60px;
    width: 240px;
    height: 50px;
    background-color: transparent;
    font-size: 20px;

    .el-button.el-button--primary {
      width: 240px;
      height: 40px;
    }
  }
}
